*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to right ,rgb(0, 0, 0),  rgb(171, 71, 71)) ;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
}
.calc{
display: grid;
grid-template-columns: repeat(4,50px);
}
input{
    grid-column: span 4;
    height: 100px;
    font-size: 35px;
    padding: 10px;
    text-align: end;

}
button{
    height: 50px;
    width: 50px;
    border: 0;
    background-color:#252525;
    color: bisque;
    font-size: 25px;
}
button:active{
    background-color: rgb(251, 6, 6);

}